@import 'tailwindcss';
@import "@nuxt/ui";

:root {
  --primary-color: #5692f5;
  --ui-bg: #fff;
  --ui-text: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Univia Pro", sans-serif;
  scroll-behavior: smooth;
}